# this has to run before the yum packages
# if you put that in the same config has the packages command, packages install seems to run before these commands.
commands:
  01_yum_update:
    command: yum -y update
  02_epel_repo:
    command: yum-config-manager -y --enable epel
  03_remi_repo:
    command: yum-config-manager -y --enable remi
  04_gdal_requirements:
    command: sudo yum install gcc-c++.x86_64 cpp.x86_64 sqlite-devel.x86_64 libtiff.x86_64 cmake3.x86_64 -y
  05_proj:
    command: cd /tmp
    command: wget https://download.osgeo.org/proj/proj-6.1.1.tar.gz
    command: tar -xvf proj-6.1.1.tar.gz
    command: cd proj-6.1.1
    command: ./configure
    command: sudo make
    command: sudo make install
  06_gdal:
    command: cd /tmp
    command: wget https://github.com/OSGeo/gdal/releases/download/v3.2.1/gdal-3.2.1.tar.gz
    command: tar -xvf gdal-3.2.1.tar.gz
    command: cd gdal-3.2.1
    command: ./configure --with-proj=/usr/local --with-python
    command: sudo make
    command: sudo make install